<%= render 'nav' %>

<table class="table table-striped table-condensed table-bordered">
<% @pages.each do |page| %>
  <tr>
    <td><%= icon('icon-file').html_safe %> <%= link_to page.title, page %></td>
    <td><%= icon('icon-time').html_safe %> <%= distance_of_time_in_words_to_now page.updated_at %> ago</td>
    <td><%= icon('icon-user').html_safe %> <%= page.user.email %></td>
</td>
  </tr>
<% end %>
</table>

<br />

